
<header class="header">
  <div class="up-header">
      <p class="texto-header">
          SERVIÇOS COM SUPORTE 24 HORAS PRA QUANDO PRECISAR
      </p>
  </div>
  <div class="bot-header">
      <div class="parte1-header">
          <img src="../../../assets/img/logo-header.webp" alt="Logo" class="logo-header" loading="lazy">
          <div class="menu-desktop">
              <a class="item-header" href="#parceiros"> Parceiros</a>
              <a class="item-header" href="#sobre-nos"> Sobre nós</a>
              <a class="item-header" href="#como"> Como funciona</a>
              <a class="item-header" href="#diferenciais">Diferenciais</a>
              <a class="item-header" href="#servicos">Serviços</a>
              <a class="item-header" href="#testemunhas">Testemunhas</a>
          </div>

      </div>
      <div class="btn-header">
          <button class="btn-acao btn-header">Começar</button>
      </div>
      <!-- Botão do menu hambúrguer / X -->
      <div class="hamburger-menu" (click)="toggleMenu()">
          <span [class.open]="menuOpen"></span>
          <span [class.open]="menuOpen"></span>
          <span [class.open]="menuOpen"></span>
      </div>
  </div>
  <!-- Menu lateral que desliza da esquerda -->
  <nav class="side-menu" [class.open]="menuOpen">
      <ul>

          <li><a class="item-header" href="#parceiros"> Parceiros</a></li>
          <li><a class="item-header" href="#sobre-nos"> Sobre nós</a></li>
          <li><a class="item-header" href="#como"> Como funciona</a></li>
          <li><a class="item-header" href="#diferenciais">Diferenciais</a></li>
          <li><a class="item-header" href="#servicos">Serviços</a></li>
          <li><a class="item-header" href="#testemunhas">Testemunhas</a></li>
      </ul>
  </nav>
</header>



<section class="banner">
  <div class="banner-caixa">
      <div class="box">

          <div class="caixa-banner-textos">
              <h1 class="titulo-caixas">
                  Potencialize sua infraestrutura com soluções inteligentes para o futuro.
              </h1>
              <div class="sub-titulo-banner">
                  <h2 class="titulo-caixas">
                      Faça parte você também
                  </h2>

              </div>
          </div>
          <img src="../../assets/img/seta.svg" alt="img" class="icone-banner" loading="lazy" data-aos-duration="800">

      </div>
  </div>

  <video autoplay muted loop loading="lazy" class="video-banner">
      <source src="../../assets/img/videoBanner.mp4" type="video/mp4" loading="lazy">
      Seu navegador não suporta vídeos.
  </video>
</section>

<section class="marcas">
  <h1 class="titulo-caixas">Confiam em nós</h1>
  <swiper-container 
  #swiper 
  [space-between]="20" 
  [breakpoints]="breakpoints" 
  initial-slide="0"
  navigation="false"
  pagination="false"
  infinite="true"
  [autoplay]="{
        delay: 1000,  
disableOnInteraction: false 
}"
autoplay="true"
>

  <swiper-slide *ngFor="let image of images">
    <img [src]="image.src" [alt]="image.alt" style="width: 100%; height: 50px;" loading="lazy" alt="img"/>
  </swiper-slide>
</swiper-container>
</section>






<section class=" sobre-nos  " id="sobre-nos">
  <div class="container-alinhado">
      <div class="caixa-textos">
          <div class="titulos-caixa">
              <h1 class="titulo-caixas">Sobre nós</h1>
          </div>
          <p class="texto-caixas texto-sobre-nos" >
              Por que escolher a Cardopar? Nós oferecemos soluções que incorporam a tecnologia mais avançada do mercado, garantindo excelente qualidade a um preço acessível. Além disso, somos especializados em instalação e configuração de servidores, migração de sistemas e segurança.
          </p>
       


          <p class="texto-caixas texto-sobre-nos" style="margin-top:1em">Na Cardopar, nossa prioridade é a eficiência. Através da otimização dos seus recursos digitais, ajudamos você a reduzir custos e aumentar sua receita. Contar com a Cardopar é garantir mais eficiência para o seu negócio.


          </p>

          <button class="btn-acao"><a href="https://wa.me/cardopar">Fazer orçamento</a></button>
      </div>
  </div>


  <div class="caixa-imagem">
      <img src="../../assets/img/img-desktops- (1).webp" alt="i,g" class="imagem-sobre-nos" loading="lazy">
  </div>

</section>
<section class="passos  " id="como">
  <div class="container-alinhado">


      <div class="caixa-passos-desktop">
          <div class="caixa-textos">

              <div class="titulos-caixa">
                  <h1 class="titulo-caixas">Iniciando seu atendimento</h1>
                  <h2 class="subtitulo-caixas">
                     Comece seu atendimento conosco seguindo esses passos e conte com nossa equipe em cada etapa do processo.
                  </h2>
              </div>
          </div>


          <div class="step-container-desktop">
              <button (click)="selectStep(1)" class="btn-passo" [ngClass]="{'active': currentStep === 1}"><span
                      class="numero-passo">1</span> Encontre o serviço desejado</button>
              <button (click)="selectStep(2)" class="btn-passo" [ngClass]="{'active': currentStep === 2}"><span
                      class="numero-passo">2</span> Fale com nossa equipe e solicite seu orçamento</button>
              <button (click)="selectStep(3)" class="btn-passo" [ngClass]="{'active': currentStep === 3}"><span
                      class="numero-passo">3</span>Finalize o atendimento</button>
          </div>
      </div>




      <div class="passos-flex">
          <div class="content">
              <div *ngIf="currentStep === 1" class="passo-item">

                  <div class="titulo-passo">Encontre o serviço desejado</div>
                  <div class="caixa-passo">
                      <div class="img-passo">
                          <img src="../../assets/img/passo1 (1).webp" alt="i,g" loading="lazy">
                      </div>

                      <div class="texto-passo">
                          Explore os diferentes serviços oferecidos pela Cardopar, escolhendo o que mais se adequa às necessidades do seu negócio.
                      </div>
                  </div>
              </div>

              <div *ngIf="currentStep === 2" class="passo-item">
                  <div class="titulo-passo">  Fale com nossa equipe e solicite seu orçamento.</div>
                  <div class="caixa-passo">
                      <div class="img-passo">
                          <img src="../../assets/img/passo2 (1).webp" alt="i,g" loading="lazy">
                      </div>

                      <div class="texto-passo">
                          Após encontrar o serviço desejado, entre em contato diretamente com a equipe, tire dúvidas se necessário e solicite um orçamento personalizado.
                      </div>
                  </div>
              </div>

              <div *ngIf="currentStep === 3" class="passo-item">
                  <div class="titulo-passo">Finalize o atendimento</div>
                  <div class="caixa-passo">
                      <div class="img-passo">
                          <img src="../../assets/img/Icon_Nuvem1 1.webp" alt="img" loading="lazy">
                      </div>

                      <div class="texto-passo">
                          Tudo pronto! Após a aprovação do orçamento e a conclusão de todas as etapas do atendimento, daremos início à realização do seu projeto com todo o cuidado e dedicação que ele merece.
                      </div>
                  </div>
              </div>
          </div>


          <div class="step-container step-container-passo">
              <button (click)="selectStep(1)" class="btn-passo" [ngClass]="{'active': currentStep === 1}">1</button>
              <button (click)="selectStep(2)" class="btn-passo" [ngClass]="{'active': currentStep === 2}">2</button>
              <button (click)="selectStep(3)" class="btn-passo" [ngClass]="{'active': currentStep === 3}">3</button>
          </div>



      </div>

  </div>



  <div class="btn-acao-centro">
      <button class="btn-acao btn-acao-escuro"><a href="https://wa.me/cardopar">Fazer orçamento</a></button>
  </div>

</section>


<section class="diferenciais" id="diferenciais">
  <div class="container-alinhado">
      <div class="caixa-textos">
          <div class="titulos-caixa">
              <h1 class="titulo-caixas">Nossos diferenciais</h1>
              <p class="subtitulo-caixas">
                  Desenvolvemos soluções inovadoras, focadas em resultados. Nossa abordagem se sustenta em três pilares principais:
                  <span class="enfase-texto">inovação, especialização e compromisso</span>. Juntos, eles guiam cada etapa do nosso trabalho para garantir o seu sucesso.
              </p>
          </div>
      </div>

      <div class="lista-diferenciais">
          <div class="diferencial">
              <div class="titulo-diferencial">
                <img src="../../assets/img/1 (2).webp" alt="img" loading="lazy" class="icone-diferencial">
                  <div class="escrito-titulo-diferencial">Inovação Tecnológica</div>
              </div>
              <div class="sublista-diferencial">
                  <ul class="sublista-itens">
                      <li class="sublista-item">
                         <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy"> <p class="sublista-texto">Desenvolvimento ágil com tecnologias de ponta</p>
                      </li>
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy"> <p class="sublista-texto">Integração contínua e entrega rápida</p>
                      </li>
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy">  <p class="sublista-texto">Utilização de metodologias ágeis para resultados eficazes</p>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="diferencial diferencial2">
              <div class="titulo-diferencial">
               <img src="../../assets/img/2 (1).webp" alt="img" loading="lazy" class="icone-diferencial">
                  <div class="escrito-titulo-diferencial">Equipe Especializada</div>
              </div>
              <!-- &check; -->

              <div class="sublista-diferencial">
                  <ul class="sublista-itens">
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy">   <p class="sublista-texto">Profissionais experientes e qualificados</p>
                      </li>
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy">   <p class="sublista-texto">Capacidade de adaptação às necessidades do cliente</p>
                      </li>
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy">   <p class="sublista-texto">Formação contínua para acompanhar as tendências do mercado</p>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="diferencial">
              <div class="titulo-diferencial">
             <img src="../../assets/img/3 (1).webp" alt="img" loading="lazy" class="icone-diferencial">
                  <div class="escrito-titulo-diferencial">Compromisso com a Qualidade</div>
              </div>
              <div class="sublista-diferencial">
                  <ul class="sublista-itens">
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy">      <p class="sublista-texto">Atenção aos detalhes em cada etapa do processo</p>
                      </li>
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy">   <p class="sublista-texto">Garantia de entregas dentro dos padrões de excelência</p>
                      </li>
                      <li class="sublista-item">
                          <img src="../../assets/img/Approval.svg" class="icone-item" alt="img" loading="lazy">   <p class="sublista-texto">Feedback constante para melhoria contínua</p>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="btn-acao-centro">
          <button class="btn-acao"><a href="https://wa.me/cardopar">Saiba mais</a></button>
      </div>
  </div>
</section>



<section class="servicos" id="servicos">
  <div class="container-alinhado">
      <div class="caixa-textos">
          <div class="titulos-caixa">
              <h1 class="titulo-caixas">Nossos principais serviços</h1>
              <h2 class="subtitulo-caixas">
                  Conheça nossos serviços mais requisitados. Arraste para explorar e clique no que desejar.
              </h2>
          </div>
      </div>
  </div>

  <div class="carousel-container mobile">

      <swiper-container 
      #swiper 
  [slides-per-view]="slideServicos" 
  [space-between]="20" 
  [breakpoints]="breakpoints" 
  initial-slide="0"
  navigation="true"
  pagination="false"
    >
  
      <swiper-slide >
          <div ngxSlickItem class="slide" (click)="selectStep(1)" class="btn-servicos"
          [ngClass]="{'active-servicos': currentStep === 1}">Especialistas em Wordpress
      </div>
  </swiper-slide >


  <swiper-slide >
      <div ngxSlickItem class="slide" (click)="selectStep(2)" class="btn-servicos" alt="img"
          [ngClass]="{'active-servicos': currentStep === 2}">AWS, Azure e Google Cloud
      </div>
</swiper-slide >

<swiper-slide >
  <div ngxSlickItem class="slide" (click)="selectStep(3)" class="btn-servicos"
  [ngClass]="{'active-servicos': currentStep === 3}">Escalamento Automático
</div>
</swiper-slide >

    </swiper-container>
   
  </div>
  <div class="container-alinhado">
      <div class="conteudo-servicos-desktop">
          <div class="servico-btn-item">
              <button ngxSlickItem class="slide" (click)="selectStep(1)" class="btn-servicos"
                  [ngClass]="{'active-servicos': currentStep === 1}">Especialistas em Wordpress
              </button>
          </div>
          <div class="servico-btn-item">
              <button ngxSlickItem class="slide" (click)="selectStep(2)" class="btn-servicos"
                  [ngClass]="{'active-servicos': currentStep === 2}">AWS, Azure e Google Cloud
              </button>
          </div>
          <div class="servico-btn-item">
              <button ngxSlickItem class="slide" (click)="selectStep(3)" class="btn-servicos"
                  [ngClass]="{'active-servicos': currentStep === 3}">Escalamento Automático
              </button>
          </div>
      </div>
      <div class="content">
          <div class="passo-item">
              <img [ngClass]="getBoxClass()" loading="lazy" alt="img">
       
              <div class="textos-caixa-servico">
                  <h1 class="titulo-caixa-servico">
                      {{ getTitle() }}
                  </h1>
                  <p class="texto-caixas">{{ getDescription() }}</p>
                  <button class="btn-acao btn-acao-escuro"><a href="https://wa.me/cardopar">Fazer orçamento</a></button>
              </div>
          </div>
      </div>
  </div>
  <div class="outros-servico container-alinhado">
      <div class="titulos-caixa">
          <div class="caixa-textos">
              <h1 class="titulo-caixas titulo-contato">Outros serviços</h1>

          </div>

      </div>
  </div>
  <div class="outros-servicos">
      <swiper-container 
      #swiper 
      [slides-per-view]="slidesPerView" 
      [breakpoints]="breakpointsServicos" 
      initial-slide="0"
      navigation="true"
      pagination="true"
      [autoplay]="true"
    >

      
      <swiper-slide >
          <div class="carousel-slide" >
              <div class="caixa-os">
                  <h1 class="titulo-os">Serviços de Balanceamento de Carga</h1>
                  <p class="descricao-os">Distribuímos tráfego entre servidores, aumentando a disponibilidade e otimizando o desempenho dos serviços.
                  </p>
              </div>
            </div>
      </swiper-slide>
      
      <swiper-slide >
          <div class="carousel-slide" >
              <div class="caixa-os">
                  <h1 class="titulo-os">Bancos de Dados e Clusterização</h1>
                  <p class="descricao-os">Gerenciamos clusters de bancos de dados, implementando soluções de alta disponibilidade e recuperação de desastres.
                  </p>
              </div>
            </div>
      </swiper-slide>

      
      <swiper-slide >
          <div class="carousel-slide" >
              <div class="caixa-os">
                  <h1 class="titulo-os">Gerenciamento de Aplicações em Nuvem</h1>
                  <p class="descricao-os">Especializamo-nos na orquestração de contêineres com Kubernetes, facilitando desenvolvimentos ágeis e escaláveis.
                  </p>
              </div>
            </div>
      </swiper-slide>



      <swiper-slide >
          <div class="carousel-slide" >
              <div class="caixa-os">
                  <h1 class="titulo-os">Elasticidade da Capacidade</h1>
                  <p class="descricao-os">Ajustamos recursos automaticamente, garantindo desempenho em tempo real durante altas cargas de acesso.
                  </p>
              </div>
            </div>
      </swiper-slide>


      <swiper-slide >
          <div class="carousel-slide" >
              <div class="caixa-os">
                  <h1 class="titulo-os">Simulação de Ataques (Pentests)</h1>
                  <p class="descricao-os">Identificamos vulnerabilidades em sistemas, gerando relatórios detalhados com recomendações de segurança.
                  </p>
              </div>
            </div>
      </swiper-slide>
    </swiper-container>
      <div class="conteudo-slides">
      
      </div>
    
      <div class="conteudo-slides">
          
 
      </div>
  </div>
  <div class="btn-acao-centro">
     <button class="btn-acao"><a href="https://wa.me/cardopar">Fazer orçamento</a></button>
  </div>
</section>
<section class="contato">
  <div class="container-alinhado">
      <div class="caixas-contato">
          <div class="caixa-textos caixa-flex-contatos">
              <h1 class=" titulo-contato">Entre em contato conosco</h1>
              <p class="subtitulo-caixas">Implementamos medidas de segurança robustas para proteger seus dados e
                  garantir
                  sua privacidade absoluta na internet.
          </div>
          <ul class="lista-contato caixa-flex-contatos">
              <li class="lista-contato-item texto-caixas"><span class="contato-icone"><img
                          src="../../assets/img/WhatsApp.svg" loading="lazy" alt="a"></span> <span >Para falar conosco via WhatsApp,<span class="enfase-texto"> envie uma mensagem aqui </span></span> </li>
              <li class="lista-contato-item texto-caixas"><span class="contato-icone">
                 <img
                          src="../../assets/img/At sign.svg" loading="lazy" alt="b"></span>  <span > Se preferir, entre em contato por e-mail no endereço   <span class="enfase-texto">support&#64;cardopar.com</span> </span></li>
              <li class="lista-contato-item texto-caixas"><span class="contato-icone"><img
                          src="../../assets/img/Phone.svg" loading="lazy" alt="c"></span><span >Ou ligue para: <span class="enfase-texto">+55 12 97402-0387</span></span></li>
          </ul>
      </div>
  </div>
</section>
<section class="testemunhas" id="testemunhas">

  <div class="testemunhas-slides">
      <swiper-container 
      #swiper 
      [slides-per-view]="slidesPerView" 
      [space-between]="0" 
      [breakpoints]="breakpoints" 
      initial-slide="0"
      navigation="true"
      pagination="false"
      loop="true"
    >
  
      <swiper-slide >
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Daniel Igor
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="img" loading="lazy">
                  </div>
              </div>
              <div class="bot-testemunhas">
                  <p class="fala-testemunha">
                      "Excelente profissional, ótima comunicação, entrega o projeto com muita qualidade."
                  </p>
              </div>
          </div>
      </swiper-slide>
      
      
      <swiper-slide >
          <div class="caixa-testemunhas" >
               <div class="up-testemunhas">
                   <div class="inf-testemunhas">
                       <p class="nome-testemunha">Jeam Pierre Kuhl
                       </p>
                       <p class="cargo-testemunha">Cliente no Workana
                       </p>
                   </div>
                   <div class="img-workana">
                       <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="img" loading="lazy">
                   </div>
               </div>
               <div class="bot-testemunhas">
                   <p class="fala-testemunha">
                      "Simplesmente um baita profissional. Ele sabe o que está fazendo e é muito rápido, prestativo e competente. RECOMENDO 100%"
                   </p>
               </div>
           </div>
       </swiper-slide>

       <swiper-slide >
          <div class="caixa-testemunhas" >
               <div class="up-testemunhas">
                   <div class="inf-testemunhas">
                       <p class="nome-testemunha">Arthur Paiva
                       </p>
                       <p class="cargo-testemunha">Cliente no Workana
                       </p>
                   </div>
                   <div class="img-workana">
                       <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="img" loading="lazy">
                   </div>
               </div>
               <div class="bot-testemunhas">
                   <p class="fala-testemunha">
                      "É aquela famosa historia do Mecânico que sabe qual parafuso apertar. Muito rapido, pratico e eficiente"
                   </p>
               </div>
           </div>
       </swiper-slide>


       <swiper-slide >
          <div class="caixa-testemunhas" >
               <div class="up-testemunhas">
                   <div class="inf-testemunhas">
                       <p class="nome-testemunha">Guilherme Engel
                       </p>
                       <p class="cargo-testemunha">Cliente no Workana
                       </p>
                   </div>
                   <div class="img-workana">
                       <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="img" loading="lazy">
                   </div>
               </div>
               <div class="bot-testemunhas">
                   <p class="fala-testemunha">
                      "Próatividade e senso de urgência do prestador de serviço foi crucial para o bom sentimento sobre o trabalho além, claro, da entrega. Excelente, faremos novos negócios."
                   </p>
               </div>
           </div>
       </swiper-slide>
      
      <swiper-slide >
         <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Rui de Paula
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="img" loading="lazy">
                  </div>
              </div>
              <div class="bot-testemunhas">
                  <p class="fala-testemunha">
                      "Profissional muito capaz, propõe soluções, cumpre com o que promete."
                  </p>
              </div>
          </div>
      </swiper-slide>
    </swiper-container>
      <div class="conteudo-slides">
      
      </div>
    
      <div class="conteudo-slides">
          
  <!-- <div class="carousel-container">
      <div 
        class="carousel-images"
        [style.transform]="getTransformOs()">
        

        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '22.3%' }">
          <div class="caixa-os">
              <h1 class="titulo-os">Especialização em WordPress</h1>
              <p class="descricao-os">Otimização e configuração de ambientes WordPress, melhorando desempenho e segurança com suporte contínuo.
              </p>
          </div>
        </div>
     
        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '22.3%' }">
           <div class="caixa-os">
              <h1 class="titulo-os">Serviços de Balanceamento de Carga</h1>
              <p class="descricao-os">Distribuímos tráfego entre servidores, aumentando a disponibilidade e otimizando o desempenho dos serviços.

              </p>
          </div>
        </div>


        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '22.3%' }">
           <div class="caixa-os">
              <h1 class="titulo-os">Bancos de Dados e Clusterização</h1>
              <p class="descricao-os">Gerenciamos clusters de bancos de dados, implementando soluções de alta disponibilidade e recuperação de desastres.
              </p>
          </div>
        </div>


        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '22.3%' }">
           <div class="caixa-os">
              <h1 class="titulo-os">Gerenciamento de Aplicações em Nuvem</h1>
              <p class="descricao-os">Especializamo-nos na orquestração de contêineres com Kubernetes, facilitando desenvolvimentos ágeis e escaláveis.
              </p>
          </div>
        </div>


        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '22.3%' }">
           <div class="caixa-os">
              <h1 class="titulo-os">Elasticidade da Capacidade</h1>
              <p class="descricao-os">Ajustamos recursos automaticamente, garantindo desempenho em tempo real durante altas cargas de acesso.

              </p>
          </div>
        </div>

        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '22.3%' }">
           <div class="caixa-os">
              <h1 class="titulo-os">Escalamento Automático</h1>
              <p class="descricao-os">Implementamos soluções que escalam automaticamente, atendendo picos de demanda e otimizando custos conforme o uso.

              </p>
          </div>
        </div>

        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '22.3%' }">
           <div class="caixa-os">
              <h1 class="titulo-os">Simulação de Ataques (Pentests)</h1>
              <p class="descricao-os">Identificamos vulnerabilidades em sistemas, gerando relatórios detalhados com recomendações de segurança.
              </p>
          </div>
        </div>
      </div>
      <button (click)="prevImage()" class="prev-btn">←</button>
      <button (click)="nextImage()" class="next-btn">→</button>
  </div>     -->
         
      </div>
  </div>

 <!--  <div class="carousel-container">
      <div 
        class="carousel-images"
        [style.transform]="'translateX(' + (-currentIndex * (mobileSlides)) + '%)'"> 
        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Daniel Igor
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
              </div>
              <div class="bot-testemunhas">
                  <p class="fala-testemunha">
                      "Excelente profissional, ótima comunicação, entrega o projeto com muita qualidade."
                  </p>
              </div>
          </div>
        </div>
        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Agência Zap – Conteúdo e Conversão.
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
  
              </div>
              <div class="bot-testemunhas">
                  <p class="fala-testemunha">
                      "Excelente trabalho! Eficiente, comunicativo e entregou tudo o que eu precisava."
                  </p>
              </div>
          </div>
        </div>





        <div class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Fusion Technology
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
  
              </div>
              <div class="bot-testemunhas">
                  <p class="fala-testemunha">
                      "A equipe da Cardopar foi ágil e comprometida, entregando resultados de alta qualidade antes do prazo. Com conhecimento técnico e soluções inovadoras, atenderam nossas necessidades com excelência. Recomendo pela dedicação e excelência no serviço."
                  </p>
              </div>
          </div>
        </div>
    
       Clonagem para o carrossel infinito
        <div  class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Ed Carlos
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
  
              </div>
              <div class="bot-testemunhas">
                  <p class="fala-testemunha">
                      "Ótimo job, rápido e eficiente!!!"
                  </p>
              </div>
          </div>
        </div>


        <div  class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Guilherme Engel
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
  
              </div>
              <div class="bot-testemunhas">
                  <p class="fala-testemunha">
                      "Próatividade e senso de urgência do prestador de serviço foi crucial para o bom sentimento sobre o trabalho além, claro, da entrega. Excelente, faremos novos negócios."
                  </p>
              </div>
          </div>
        </div>



        <div  class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Rui de Paula
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
  
              </div>
              <div class="bot-testemunhas"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
                  <p class="fala-testemunha">
                      "Profissional muito capaz, propõe soluções, cumpre com o que promete."
                  </p>
              </div>
          </div>
        </div>



        <div  class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Arthur Paiva
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
  
              </div>
              <div class="bot-testemunhas"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
                  <p class="fala-testemunha">
                      "É aquela famosa historia do Mecânico que sabe qual parafuso apertar. Muito rapido, pratico e eficiente"
                  </p>
              </div>
          </div>
        </div>

        <div  class="carousel-slide"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
          <div class="caixa-testemunhas" >
              <div class="up-testemunhas">
                  <div class="inf-testemunhas">
                      <p class="nome-testemunha">Jeam Pierre Kuhl
                      </p>
                      <p class="cargo-testemunha">Cliente no Workana
                      </p>
                  </div>
                  <div class="img-workana">
                      <img src="../../assets/img/marca_workana 1 (1)-min.svg" alt="" loading="lazy">
                  </div>
  
              </div>
              <div class="bot-testemunhas"  [ngStyle]="{ 'min-width': mobile ? '75%' : '30%' }">
                  <p class="fala-testemunha">
                      "Simplesmente um baita profissional. Ele sabe o que está fazendo e é muito rápido, prestativo e competente. RECOMENDO 100%"
                  </p>
              </div>
          </div>
        </div>




      </div>
    
      <button (click)="prevImage()" class="prev-btn">←</button>
      <button (click)="nextImage()" class="next-btn">→</button>
    </div>
</section> -->

</section>
<footer class="footer">
  <div class="container-alinhado">
      <div class="setores-footer">
          <div class="setor-footer setor-frase">
              <img src="../../assets/img/logo-header.svg" alt="logo-footer" class="logo-footer" loading="lazy">

              <p class="frase-footer">Potencialize sua infraestrutura com soluções inteligentes para o futuro.</p>
          </div>
          <div class="setor-footer">
              <h1 class="titulo-footer">INFORMAÇÕES DE CONTATO</h1>
              <ul class="topicos-footer">
                  <li class="topico-footer">+55 12 97402-0387</li>
                  <li class="topico-footer">Sabado das 8h as 18h</li>
                  <li class="topico-footer">Seg a sexta das 8h as 20h</li>
                  <li class="topico-footer">faleconoscocardopar.com</li>
              </ul>

          </div>
          <div class="setor-footer setor-links">
              <h1 class="titulo-footer">LINKS ÚTEIS</h1>
              <ul class="topicos-footer">
                  <li class="topico-footer">Google Cloud</li>
                  <li class="topico-footer">AWS</li>
                  <li class="topico-footer">Azure</li>
              </ul>

          </div>
      </div>

      <div class="cop-footer">
          <p class="texto-cop-footer">Copyright ©2024 todos os direitos reservados | Cardopar</p>
      </div>
  </div>

</footer>

<style>

</style>

<script>

  console.log()
</script>