::ng-deep :root {
    --fonte-titulo: 'Prometo Trial Regular', sans-serif;
    --fonte-texto: Poppins, sans-serif
  }
  
  
  
  @font-face {
    font-family: 'Prometo Trial Regular';
    src: url(https://fonts.cdnfonts.com/s/prometo-trial.ttf)format(truetype);
    font-weight: 700;
    font-style: normal;
    font-display: swap
  }
  
  .icone-item{
    width: 24px;
    height: 24px;
  }
  .btn-acao a{
    color: #195a97;
  }
  .marcas h1.titulo-caixas {
text-align: center;
    padding: 0.2em 0;
}
  
  
  .btn-acao-escuro a{
    color: white;
  }
  .btn-acao {
   
    background-color: #195a9700;
    cursor: pointer;
    padding: 0.9em 2em;
    border-radius: 9px;
    /* border: none; */
    font-size: 16px;
    text-align: start;
    font-family: "Prometo Trial Md", sans-serif;
    margin-top: 2em;
    font-weight: 700;
    border: 2px solid #195a97;
  }
  
  .sobre-nos{
    padding-bottom: 3em;
  }
  
  
  
  
  
  
  
  
  
  
  
  .btn-acao-escuro {
    color: white;
    background-color: #195a97;
    margin-top: 2em;
    font-weight: 400;
  }
  
  
  
  
  
  ::ng-deep html {
    scroll-behavior: smooth;
    
  }
  
  a{
    text-decoration: none;
  }
  
  .enfase-texto{
    font-weight: 700;
  }
  
  
  ::ng-deep * {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-texto)
  }
  
  img.logo-header {
    margin-left: 1em;
  }
  
  .hamburger-menu {
    margin-right: 1em;
  }
  
  img.icone-diferencial {
    width: 24px;
    height: 29px;
  }
  
  header.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  .sub-titulo-banner .titulo-caixas {
    margin-top: .5em
  }
  
  .texto-header,
  .titulo-caixas,
  .item-header {
    font-family: var(--fonte-titulo)
  }
  
  .titulo-caixa-servico {
    font-size: 20px;
  }
  
  
  
  .icone-banner {
    animation: bounce 2s infinite;
    width: 50px;
    height: 50px;
    margin-top: 2em
  }
  
  .marcas .titulo-caixas {
    text-align: center
  }
  
  @keyframes bounce {
  
    0%,
    100% {
        transform: translateY(0)
    }
  
    50% {
        transform: translateY(-10px)
    }
  }
  
  .header {
    display: flex;
    flex-flow: column
  }
  
  .bot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em 0;
    background-color: #241d65;
    height: 30px;
    align-items: center;
  }
  
  .banner .titulo-caixas {
    text-align: center;
    color: #fff
  }
  
  .container-alinhado {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    text-align: center
  }
  
  .box {
    text-align: center;
  }
  
  .banner {
    background: linear-gradient(to right, #20195F, #3073b1);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: #fff
  }
  
  .titulo-banner {
    font-size: 30px;
    margin-bottom: 1em
  }
  
  .caixa-banner-textos {
    margin: 0 .5em
  }
  
  .up-header {
    background-color: #120e36;
    width: 100%
  }
  
  .texto-header {
    color: #fff;
    font-size: 10px;
    padding: .5em 0
  }
  
  .sub-titulo-banner .titulo-caixas {
    font-size: 20px
  }
  
  .subtitulo-caixas {
    font-family: var(--fonte-texto);
    color: #404040;
    font-weight: 500;
  
    line-height: 24px;
    max-width: 90%;
    margin-top: 0;
    font-size: 14px
  }
  
  
  
  
  
  .logo-header {
    width: 150px;
  }
  
  .hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  
  .hamburger-menu span {
    display: block;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
  }
  
  /* Transformação do menu hambúrguer em "X" */
  .hamburger-menu span.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  
  .hamburger-menu span.open:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu span.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Estilos do menu lateral */
  .side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    /* Mantém o menu fora da tela à esquerda */
    width: 250px;
    height: 100%;
    background-color: #120e36;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease;
  }
  
  .side-menu.open {
    left: 0;
    /* Desliza o menu para dentro da tela */
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .side-menu li {
    margin: 20px 0;
  }
  
  .side-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--fonte-titulo);
  }
  
  .menu-desktop {
    display: none;
  }
  
  @media screen and (min-width:900px) {
    .caixa-passos-desktop {
      width: 42%;
    }
  

  

  
    

 
  
    .back-caixa-servico {
      margin: 0;
      width: 350px;
      height: 200px;
  }
  
  .textos-caixa-servico{
    width: 400px;
  
  }
  
    .carousel-container.mobile{
      display: none;
    }
    .titulo-caixas {
        font-size: 29px;
    }
  
    .video-banner {
        display: block;
  
    }
  
    .banner {
        background: linear-gradient(to right, #20195F, #1e185adf, #1a7df57c);
        height: 90vh;
        justify-content: start;
    }
  
  
    .banner h1.titulo-caixas {
        font-size: 55px;
    }
  
    .banner .titulo-caixas,
    .banner h1.titulo-caixas {
        text-align: start;
        color: #fff;
    }
  
    .box {
        margin: 4em;
        width: 60%;
        padding-top: 2em;
  
    }
  
    .icone-banner {
        display: none;
    }
  
    .menu-desktop {
        margin-left: 2em;
        display: block;
    }
  
    .item-header {
        color: white;
        margin: 0 1em;
    }
  
    .hamburger-menu {
        display: none;
    }
  
    .swiper-lazy {
        width: 300px;
        height: 300px;
    }
  
  
   
  
  
  
  }
  
  .carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  }
  
  .carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;  /* Efeito de deslizamento suave */
  }
  
  .carousel-slide {
  
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .carousel-image {
  width: 100%;  /* Ajuste as imagens para ocupar toda a largura do slide */
  object-fit: cover;
  }
  
  .carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  
  }
  
  .btn-servicos{
    cursor: pointer;
    width: 75%;
  }
  
  .servico-btn-item {
    display: flex;
    justify-content: center;
  }
  
  .prev-btn {
  left: 10px;
  }
  
  .next-btn {
  right: 10px;
  }
  
  
  section.testemunhas {
    padding-top: 4em;
  }
  @media (max-width: 768px) {
  
    .back-caixa-servico{
      width: 100%;
    }
  
    .caixa-image{
      display: none;
      margin-bottom: 0;
    }
    .video-banner {
      display: none;
  }
  
  .carousel-slide {
  width: 100%; /* Exibe apenas uma imagem de cada vez no mobile */
  }
  }
  
  .carousel-image{
  width: 100%;
  height: 100%;
  }
  
  
  
  
  
  
  .caixa-testemunhas {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column;
  }
  
  
  ::ng-deep.swiper-horizontal {
    bottom: 0em!important;
    /* top: var(--swiper-pagination-top, auto); */
    left: 0;
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .servicos .btn-acao-centro {
  
   padding: 1em 0 2em 0;
  }
  
  .marcas .caixa-slide{
    margin-top: 1em;
  }
  
  .marcas{
  padding: 1em;
  }
  /* .btn-acao {
    color: white;
    background-color: #20195F;
    padding: 0.5em 3em;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    text-align: start;
    font-family: 'Prometo Trial Md', sans-serif;
    margin-top: 2em;
  
  } */
  
  
  
  .titulos-caixa{
  padding: 1em 0 2em 0;
  color: #20195F;;
  }
  
  
  .imagem-sobre-nos{
    width: 200px;
    height: 300px;
  }
  
  /* passos */
  section.passos{
    background: linear-gradient(to right, #edf5ff, #edf5ff, #caecff);
  }
  
  .caixa-passo {
    height: 315px;
    background: white;
    padding: 2em 0;
    margin: 2em 0.8em 1em 0.8em;
    box-shadow: 0 4px 8px #b9b9b9ad;
    border-radius: 15px;
    max-width: 300px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.324);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .titulo-passo {
    font-family: var(--fonte-titulo);
    color: #20195F;;
    text-align: center;
    font-size: 18px;
      font-weight: 700;
  }
  
  .passo-item {
    margin-bottom: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  .passos .titulos-caixa {
    padding: 2em 0;
  }
  
  .img-passo img {
    width: 230px;
    height: 200px;
  }
  
  .texto-passo {
    margin: 1.5em 1.5em 0 1.5em;
    font-size: 14px;
    line-height: 17px;
  }
  
  
  .caixa-imagem {
    display: flex;
    justify-content: end;
    margin-top: -6rem;
  }
  
  /* diferenciais */
  
  .diferenciais, .marcas{
    background-color: #F5F5F5;
  }
  
  .titulo-diferencial {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9f1fb;
    margin: 0 2em;
    border-radius: 40px;
    padding: 0.5em 1em;
  }
  
  
  .icone-diferencial,
  .escrito-titulo-diferencial {
    font-size: 15px;
  }
  
  .icone-diferencial {
    margin-right: 0.5em;
    background: white;
    padding: 0.3em 0.6em;
    border-radius: 30em;
    border: 2px solid #1D69B5;
    color: #1D69B5;
    font-weight: 600;
  }
  
  .escrito-titulo-diferencial {
    color: #1D69B5;
    font-weight: 600;
  }
  
  .diferencial2{
    margin: 4em 0 ;
  }
  
  p.sublista-texto {
    /* margin: 1.5em 0; */
    font-weight: 500;
    font-size: 15px;
    color: #313131;
  }
  
  ul.sublista-itens {
    margin-top: 2em;
  }
  
  .sublista-item{
  list-style: none;
  margin: 0.5em 0;
  }
  
  .sublista-diferencial {
    width: 75%;
    margin: 1.5em auto;
  
  }
  
  li.sublista-item {
    display: flex;
  }
  
  img.icone-item {
    margin-right: 0.5em;
  }
  
  
  
  
  
  
  .btn-acao-centro{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-header{
    width: 190px;
    height: 25px;
    margin-bottom: 0.5em;
  }
  
  
  .conteudo-slides{
    margin-left: 1.2em;
  }
  
  
  
  .servicos .container-alinhado, .passos .container-alinhado{
    padding-bottom: 0;
  }
  
  .btn-servicos {
    padding: 0.7em 1em;
    border-radius: 24px;
    border: none;
    font-size: 18px;
    background-color: #f3f3f3;
  
    text-align: center;
   
  }
  
  .servicos swiper-slide{
    display: flex;
    justify-content: center;
    /* margin-right: -3em; */
  }
  
  /* .outros-servicos swiper-container{
    margin-left: 1em;
  } */
  
  
  .active-servicos{
  background-color: #20195f!important;
  color: white!important;
  }
  
  
  /* Esconde os elementos inicialmente */
  .lazy-load {
    opacity: 0; /* Torna o elemento invisível */
    transition: opacity 0.5s ease-in-out; /* Animação de transição opcional */
  }
  
  /* Estilo para o elemento visível */
  .lazy-load.active {
    opacity: 1; /* Torna o elemento visível */
  }
  
  
  
  
  
  .titulo-contato, .titulo-caixas{
    color: #424242;
    font-weight: 900!important;
  }
  
  .lista-contato-item {
    list-style: none;
  }
  
  
  ul.lista-contato.caixa-flex-contatos {
    margin-top: 2em;
  }
  
  
  .contato{
    background-color: #E2F1FE;
  }
  
  li.lista-contato-item.texto-caixas {
    margin: 1em 0;
    display: flex;
    align-items: center;
  }
  
  
  
  
  .cargo-testemunha, .nome-testemunha{
    color: #454545;
  
  }
  .nome-testemunha{
    font-weight: 600;
  }
  
  .img-workana img {
    width: 100px;
    height: 28px;
  }
  
  
  
  .caixa-testemunhas {
    border: 1px solid #a9a9a952;
    margin: 0 0.5em;
    border-radius: 10px;
    padding: 1em;
    height: 160px;
  }
  
  .up-testemunhas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .testemunhas .container-alinhado{
    padding-bottom: 0;
  }
  
  .fala-testemunha{
    margin: 1em 0;
  }
  
  
  button.btn-passo {
    border: 2px solid #8D8D8D;
    font-size: 21px;
   
    color: #8D8D8D;
  }
  
  
  
  
  .step-container.step-container-passo {
    text-align: center;
  }
  
  
  
  button.btn-passo {
    margin: 0 0.4em;
    padding: 0.4em 0.7em 0.2em;
    border-radius: 10em;
  }
  
  section.passos {
    padding-bottom: 60px;
  }
  
  .passos .container-alinhado{
    padding: 0 0 1em 0
  } 
  
  .back-caixa-servico {
    height:200px;
    margin: 0 0 2em 0;
    border-radius: 11px;
    height: 178px;
  }
  
  .active{
    border-color: #20195F!important;
    color: #20195F!important ;
    }
  
    .titulo-caixa-servico,.btn-passo, .btn-servicos {
      font-family: var(--fonte-titulo)
  }
  
  
  footer.footer {
    background: #120e36;
    color: white;
    margin-top: 5em;
    padding-bottom: 2em;
  }
  
  h1.titulo-footer {
    font-size: 18px;
    margin: 0.5em 0;
  }
  
  li.topico-footer {
    list-style: none;
    margin: 0.5em 0;
  }
  
  .frase-footer{
    font-size: 19px;
    margin: 1em 0 2em 0;
  }
  
  .setor-footer {
    margin: 3em 0px;
  }
  
  h1.titulo-footer, .frase-footer, .texto-cop-footer{
    font-family: var(--fonte-titulo);
  }
  
  img.logo-footer {
    width: 190px;
    height: 30px;
  }
  
  .step-container-desktop{
    display: none;
  }
  
   .conteudo-servicos-desktop {
    display: none;
  }
  @media screen and (min-width:900px){
  
    
    p.texto-header {
      text-align: end;
      /* font-size: 55px; */
      font-weight: bold;
      margin-right: 2em;
  }
  
  .step-container-passo .btn-passo{
    display: none;
  }
  
    .step-container-desktop {
      display: block;
      display: flex;
      flex-flow: column;
  }
    .banner {
      position: relative;
      overflow: hidden;
     
  }
  
  .banner-caixa {
      position: relative;
      z-index: 2; /* Para que o texto fique acima do vídeo */
  }
  .video-banner {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%; 
    width: 100%; 
    height: auto; 
    transform: translate(-50%, 0); 
    z-index: -1; 
    object-fit: cover;
  }
  
  .caixa-banner-textos {
      position: relative; 
      color: white; 
  }
  
  .sobre-nos .caixa-textos {
    width: 50%;
  }
  .sobre-nos {
    position: relative;
    height: 55vh;
  
  }
  .imagem-sobre-nos{
    display: none;
  }
  .caixa-imagem{
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('../assets/img/desktopSN.svg');
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .marcas{
    padding: 1em 0 3em 0;
  }


  .passos .container-alinhado{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .passo-item {
    padding-top: 4em;
  }
  
  
  button.btn-passo {
    border: 2px solid #8D8D8D;
    font-size: 21px;
    color: #8D8D8D;
    background: none;
    border: none;
    text-align: start;
  }
  
  button.btn-passo {
    align-items: 0;
    margin: 0.4em 0;
    padding: 0.5em 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .passos .btn-acao-centro {
    margin-top: -2em;
  }
  
  span.numero-passo {
    padding: 0.4em 0.7em;
    border-radius: 60px;
    border: 2px solid;
    margin-right: 0.5em;
    font-size: 19px;
  }
  
  .diferenciais{
    padding-bottom: 2em;
  }
  
  .lista-diferenciais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -3em;
  }
  
  .testemunhas swiper-container {
    height: 200px;
  }
  
  .conteudo-servicos-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #adadad;
    padding-bottom: 2em;
  }
  
  .servicos .passo-item {
    flex-flow: row;
  
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back-caixa-servico {
    margin: 0;
    height: 200px;
  }
  
  .textos-caixa-servico {
    margin-left: 1em;
    /* width: 45%; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column;
  }
  
  
  
  .outros-servicos swiper-slide {
    height: 182px;
  }
  
  
  .conteudo-slides{
    padding-left: 2em;
  }
  
  .servicos .btn-acao-centro {
    padding: 0 5em;
    padding-bottom: 5em;
  }
  
  .caixas-contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1.titulo-contato {
    font-size: 33px;
  }
  
  ul.lista-contato.caixa-flex-contatos {
    font-size: 18px;
  }
  
  .caixa-textos.caixa-flex-contatos {
    width: 59%;
    text-align: start;
  }
  
  section.contato {
    padding: 3em 0;
  }
  
  p.subtitulo-caixas {
    font-size: 19px;
    margin-top: 1em;
  }
  
  .conteudo-slides-servicos{
    display: none;
  }
  
  h1.titulo-caixa-testemunhas {
    width: 28%;
    color: #4b4b4b;
  }
  
  
  .setor-footer.setor-frase {
    width: 20%;
  }
  
  .setores-footer {
    display: flex;
    justify-content: space-between;
  
  }
  
  .setor-links{
    margin-right: 1em;
  }
  
  .parte1-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
  
  .contato-icone{
    margin-right: 1em;
    width: 39px;
    height: 39px;
  }
  
  .caixa-um{
    background-image: url('../assets/img/Group-175_resized_compressed_compressed.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .caixa-dois{
    background-image: url('../assets/img/caixadois\ \(2\)_resized_compressed.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  .caixa-tres{
    background-image: url('../assets/img/caixatres\ \(1\)_resized_compressed.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  button.btn-acao.btn-header {
    display: none;
  }
  
  
  ::ng-deep.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -6px!important;
  }
  
  
  
  
  
  
  img.swiper-lazy{
    width: 100%;
    height: 54px;
  } 
  
  
     /* Estilos para o container do slide */
     .slideshow-container {
      position: relative;
      max-width: 600px;
      margin: auto;
      overflow: hidden;
      border: 2px solid #ddd;
  }
  
  /* Estilos para cada slide */
  .slide {
      display: none;
      width: 100%;
  }
  
  .slide img {
      width: 100%;
      height: auto;
  }
  
  /* Botões de navegação */
  .prev, .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 10px;
      cursor: pointer;
      font-size: 18px;
      border: none;
  }
  
  .prev { left: 10px; }
  .next { right: 10px; }
  
  /* Indicadores (bolinhas) */
  .dots {
      text-align: center;
      margin-top: 10px;
  }
  
  .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      cursor: pointer;
  }
  
  
  
  
  .caixa-os {
    margin: 0 1em;
  }
  
  h1.titulo-os {
    color: white;
    margin-bottom: 0.5em;
    font-size: 19px;
    font-family: var(--fonte-titulo);
  }
  
  p.descricao-os {
    color: white;
    font-size: 14px;
  }
  
  .contato-icone{
    width: 24px;
    height: 24px;
  }
  
  
  
  swiper-slide:nth-child(odd) .carousel-slide {
    background-color: #195a97; /* Cor para os slides ímpares */
  }
  
  swiper-slide:nth-child(even) .carousel-slide {
    background-color:   #20195F; /* Cor para os slides pares */
  }
  
  
  .outros-servicos .carousel-slide{
    width: 100%;
    margin-right: 1em;
    border-radius: 11px;
    padding: 1.5em 1em;
    height: 122px;
  }
  
  
  .servico-btn-item{
    width: 85%;
  }
  
  @media screen and (min-width:900px) {
    
  }